@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); /*  CSS VARIABLES */


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family:poppins;
    background-color:#f6f5f5;
    height: 100vh;
}


/* Navigation */
nav{
    height: 68px;
    width: 100%;
    background-color: #7854f7;
    position: fixed;
    z-index: 2;
}

nav h1{
    position: absolute;
    width: 200px;
    top: 15px;
    left: 5%;
    color: #000;
    text-transform: uppercase;
}

nav ul{
    float: right;
    margin-right: 169px;
    list-style: none;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
}

nav ul li a{
    position: relative;
    padding: 5px 0;
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a:hover{
    color: brown;
}

label #s1, label #s2{
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#res-menu{
    display: none;
}


/* Responsive */
@media(max-width:800px){
    /* Navigation */
    label #s1{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #3062c2;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
        z-index: 10;
    }

    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 16px;
    }

    /* For Responsive State */
    #res-menu:checked ~ ul{
        left: 0;
    }

    #res-menu:checked ~ label #s1{
        display: none;
    }

    #res-menu:checked ~ label #s2{
        display: block;
    }

}




/* Classes */
.ptb {
    padding: 100px 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    position: relative;
    display: inline-block;
    width: 186px;
    padding: 13px 0px;
    font-weight:300;
    border-radius:5px;
    font-size: 1rem;
    box-shadow: 0px 10px 28px -6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    border: 0px;
    cursor: pointer;
}

.btnblack {
    background:#18191f;
    color: #fff;
}

.btndefault {
    background: #fff;
    color: #7854f7;
}

.btnoutline {
    background-color: transparent;
    border: 1px solid  #7854f7;
    color: #7854f7;
}

.btnblue{
    background:#7854f7;
    color: #fff;
}


/* Hero section */
.herosection {
    width: 100%;
    background: #e7f6fd;
    height: 90vh;
    transition: all 0.3s ease-in;
}

.heroinner {
    height: 100vh;
}

.heroinner .left {
    width: 50%;
}

.heroinner .colright {
    width: 50%;
}

.heroinner .colright img {
    width: 100%;
}


.left .subheading {
    font-size: 1.125rem;
    font-weight:500;
}

.left h1 {
    font-size:3.75rem;
    line-height: 90px;
    text-transform: capitalize;
    font-weight:700;
}

.left h1 span {
    color: #7854f7;
}

.left h4 {
    font-size: 1.563rem;
    line-height: 37px;
    font-weight:500;
}

.left p {
    width: 70%;
    margin-top: 10px;
}

.left .btnblk {
    margin-top: 60px;
}

.left .btnblk .btn.btnblack {
    margin-left: 8px;
}

.social {
    margin-top: 50px;
}

.social ul li {
    display: inline-block;
    margin-right: 25px;
}

/* Features */
.features {
    width: 100%;
    margin-top: 60px;
}

.featuresinner {
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    border-radius:5px;
    padding: 46px 80px;
}

.featureitem {
    justify-content: center;
    margin-bottom: 32px;
}

.featureitem .icon {
    height: 65px;
    width: 65px;
    justify-content: center;
    border-radius: 50px;
    margin-right: 10px;
}

.featureitem .icon.color1 {
    background: #f24e1e;
}

.featureitem .icon.color2 {
    background: #19d28b;
}

.featureitem .icon.color3 {
    background: #e74d89;
}

.featureitem .icon.color4 {
    background: #7854f7;
}

.featureitem h3 {
    font-size:1.563rem;
    color: #18191f;
    font-weight:700;
}



/* About */
.aboutinner .aboutcolleft {
    width: 50%;
}

.aboutinner .aboutcolright {
    width: 50%;
    padding-left: 100px;
}

.aboutcolright h2 {
    font-size: 3rem;
    line-height: 60px;
    font-weight:700;
    margin-bottom: 48px;
}

.aboutcolright h3 {
    font-size: 1.563rem;
    line-height: 35px;
    font-weight:700;
    margin-bottom: 20px;
}

.aboutcolright .btn.btn-blue {
    font-size: 1rem;
    margin-top: 50px;
}



/* Experience */
.experience {
    width: 100%;
    background:#e7f6fd;
}

.progressbaritem {
    padding: 15px 20px;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0px 10px 28px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
.progessbarbg {
    width: 100%;
    height: 9px;
    background: #e4e7f2;
    border-radius: 20px;
}

.progressbarsize {
    height: 9px;
    background: #7854f7;
    border-radius: 20px;
}

.experienceinner {
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
}

.progressbarcontent {
    margin-bottom: 15px;
}

.progressbarcontent h3 {
    font-weight:500;
    font-size: 0.875rem;
    line-height: 25px;
}

.progressbarcontent h4 {
    font-weight:400;
    font-size: 0.875rem;
    line-height: 22px;
    text-transform: capitalize;
}





/* Services */
.services {
    width: 100%;
}

.servicesinner {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.servicesblock {
    position: relative;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0px 10px 28px -6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-out;
    padding: 45px 35px;
    cursor: pointer;
}

.servicesblock:hover {
    background:#7854f7;
    box-shadow:0px 30px 40px -6px rgba(0, 0, 0, 0.1);
}

.serviceicon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    justify-content: center;
    margin-bottom: 24px;
}

.serviceicon.color1 {
    background: #f24e1e;
}

.serviceicon.color2 {
    background: #a259ff;
}

.serviceicon.color3 {
    background: #0acf83;
}

.serviceicon.color4 {
    background: #1abcfe;
}


.serviceicon.color6 {
    background: #e74d89;
}

.servicesblock h3 {
    font-weight:700;
    font-size: 1.563rem;
    line-height: 37px;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}

.servicesblock p {
    transition: all 0.2s ease-in-out;
}

.servicesblock:hover h3, .servicesblock:hover p {
    color: #fff;
}


/* CTA */
.cta {
    width: 100%;
}

.cta .cta-inner {
    padding: 84px 66px;
    border-radius: 5px;
    background: #7854f7;
}

.cta .cta-inner h3 {
    font-size: 3rem;
    line-height: 52px;
    color:#fff;
    font-weight:700;
    margin-bottom: 5px;
}

.cta .cta-inner p {
    font-weight:300;
    font-size:0.875rem;
    line-height: 27px;
    color:  #fff;
    width: 60%;
}

/* Projects */
.projectsinner {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.projectsinner .projectitem {
    background:  #fff;
    border-radius: 5px;
    box-shadow:0px 10px 28px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.projectitem .projectimage {
    transition: all 0.3s ease-in;
    position: relative;
    height: 330px;
    overflow: hidden;
}

.projectitem .projectimage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #18191f;
    opacity: 0;
    transition: ease-out 0.3s;
    transform: translateY(300px);
}


.projectitem .projectimage img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.projectitem .projectcontent {
    padding: 25px 25px;
}

.projectitem .projectcontent h3 {
    font-weight:600;
    font-size:1.125rem;
    line-height: 30px;
}

.projectitem .projectcontent span {
    font-weight:400;
    font-size:0.875rem;
    line-height: 19px;
    color: #474a57;
}

.viewmoreblock {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}


/* Contact Me */
.contactinner {
    padding: 40px 40px;
    background: #f4f5f7;
    border-radius:5px;
    flex-wrap: wrap;
    gap: 30px;
}

.contactinner .inputblock {
    flex: 1 1 48%;
}

.contactinner label {
    display: block;
    text-transform: capitalize;
    font-size:0.875rem;
    color:  #18191f;
    font-weight:400;
    margin-bottom: 5px;
}

.contactinner .inputblock input, .contactinner .textarea textarea {
    background: #fff;
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 0 15px;
    color:#18191f;
    font-size: 0.875rem;
    transition: all 0.3s ease-in;
}

.contactinner .textarea {
    width: 100%;
}

.contactinner .textarea textarea {
    height: 200px;
    padding: 20px 15px;
}


/* Footer */
footer {
    background:#0b0d17;
    padding: 100px 0 0;
    text-align: center;
}

.footernav {
    margin-top: 60px;
}

.footernav ul li {
    display: inline-block;
    margin-right: 25px;
}

.footernav ul li a {
    color:  #fff;
    font-size: 0.875rem;
    transition: all 0.3s ease-in;
}

.footerbottom {
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 70px;
}

.footerbottom p {
    color:  #fff;
    font-size:  0.875rem;
}

.footersocial a {
    width: 37px;
    height: 37px;
    background:#20263c;
    text-align: center;
    padding: 9px 0;
    display: inline-block;
    border-radius: 50px;
    margin-left: 20px;
}

.footersocial a img {
    width: 19px;
    height: 19px;
    object-fit: cover;
}


.Abtn{
    color: #0acf83;
}

.Abtn:hover{
    color: red;
}




/*Responsive start*/

@media  (max-width: 1023px) {
    .container {
        padding: 0 20px;
        width: 95%;
    }

    .btn {
        width: auto;
        padding: 13px 30px;
    }

    h2 {
        margin-bottom: 40px;
    }

    .ptb {
        padding: 60px 0;
    }

    .herosection {
        height: auto;
        padding: 30px 0;
    }

    .heroinner {
        height: auto;
        padding: 100px 0;
    }

    .features {
        margin-top: 20px;
    }


    .featuresinner {
        padding: 20px 0px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .featureitem {
        flex: 1 1 33%;
        text-align: center;
        padding: 35px 35px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 10px 28px -6px rgba(0, 0, 0, 0.1);
    }

    .featureitem .icon {
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .featureitem h3 {
        text-align: right;
    }

    .aboutcolleft img {
        width: 100%;
    }

    .aboutinner .aboutcolright {
        padding-left: 30px;
    }

    .aboutcolright h2 {
        margin-bottom: 10px;
    }

    .aboutcolright h3 {
        margin-bottom: 14px;
    }

    .aboutcolright .btn.btnblue {
        margin-top: 10px;
    }

    .cta .cta-inner {
        padding: 65px 40px;
    }

    .cta .cta-inner .btn {
        width: 180px;
    }

    .cta .cta-inner p {
        width: 70%;
    }

    .Abtn{
        color: #0acf83;
    }

    .Abtn:hover{
        color: red;
    }
}









@media (min-width: 768px) {
    .container {
        padding: 0 20px;
        width: 95%;
    }

    .btn {
        width: auto;
        padding: 13px 30px;
    }

    h2 {
        margin-bottom: 40px;
    }

    .ptb {
        padding: 60px 0;
    }

    .herosection {
        height: auto;
        padding: 30px 0;
    }

    .heroinner {
        height: auto;
        padding: 100px 0;
    }

    .features {
        margin-top: 20px;
    }


    .featuresinner {
        padding: 20px 0px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .featureitem {
        flex: 1 1 33%;
        text-align: center;
        padding: 35px 35px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 10px 28px -6px rgba(0, 0, 0, 0.1);
    }

    .featureitem .icon {
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .featureitem h3 {
        text-align: right;
    }

    .aboutcolleft img {
        width: 100%;
    }

    .aboutinner .aboutcolright {
        padding-left: 30px;
    }

    .aboutcolright h2 {
        margin-bottom: 10px;
    }

    .aboutcolright h3 {
        margin-bottom: 14px;
    }

    .aboutcolright .btn.btnblue {
        margin-top: 10px;
    }

    .cta .cta-inner {
        padding: 65px 40px;
    }

    .cta .cta-inner .btn {
        width: 180px;
    }

    .cta .cta-inner p {
        width: 70%;
    }

    .Abtn{
        color: #0acf83;
    }

    .Abtn:hover{
        color: red;
    }

}

@media (max-width:1024px) {
    .container {
        width:88%;
    }

    .Abtn{
        color: #0acf83;
    }

    .Abtn:hover{
        color: red;
    }
}




@media (max-width: 767px) {
    .container {
        padding: 0 16px;
        margin-top: 39px;
    }
    .flex {
        flex-direction: column;
    }
    .btn {
        width: auto;
        padding: 13px 30px;
        margin-bottom: 34px;
    }
    h2 {
        margin-bottom: 40px;
    }
    .ptb {
        padding: 60px 0;
    }
    .herosection {
        height: auto;
        padding: 30px 0;
    }
    .heroinner {
        height: auto;
        flex-direction: column-reverse ;
    }

    .heroinner .left {
        width: 100%;
        text-align: center;
    }

    .left p {
        width: 100%;
        margin-top: 5px;
    }
    .heroinner .colright img {
        width: 60%;
        margin: auto;
    }
    .heroinner .colright {
        width: 100%;
        text-align: center;
    }
    .features {
        margin-top: 30px;
    }

    .featuresinner {
        padding: 20px 0px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .featureitem {
        text-align: center;
        padding: 35px 0px;
        background:#fff;
        border-radius: 5px;
        box-shadow: 0px 10px 28px -6px rgba(0, 0, 0, 0.1);
    }
    .featureitem .icon {
        margin-bottom: 15px;
        margin-right: 0px;
    }
    .aboutinner .aboutcolleft {
        width: 100%;
    }
    .aboutinner .aboutcolleft img {
        width: 100%;
    }
    .aboutinner .aboutcolright {
        width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }
    .aboutcolright h2 {
        margin-bottom: 20px;
    }
    .aboutcolright h3 {
        margin-bottom: 10px;
    }
    .aboutcolright .btn.btnblue {
        margin-top: 20px;
    }

    .progressbaritem {
        padding: 15px 15px;
    }

    .progressbarcontent {
        margin-bottom: 10px;
        flex-direction: row;
    }

    .servicesblock {
        padding: 30px 30px;
        margin-right: 107px;
    }

    .cta .cta-inner {
        padding: 40px 35px;
        text-align: center;
    }
    .ctacontent {
        margin-bottom: 20px;
    }
    .cta .cta-inner h3 {
        line-height: 52px;
    }
    .cta .cta-inner p {
        width: 100%;
    }
    .projectsinner .projectitem {
        width: 100%;
    }
    .projectview.flex {
        flex-direction: row;
    }
    .testmonial {
        padding: 60px 0;
    }

    .testmonial-item .client-data {
        width: 100%;
        justify-content: center;
    }
    .testmonial-item {
        padding: 30px 30px;
        text-align: center;
    }
    .testmonial-item .client-data img {
        margin-right: 0;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 25px;
    }
    .contactinner .inputblock {
        width: 100%;
    }
    .contactinner {
        padding: 40px 30px;
        gap: 20px;
    }
    footer {
        padding: 80px 0 0;
    }
    .footernav {
        margin-top: 30px;
    }
    .footernav ul li {
        margin-right: 10px;
    }
    .footerbottom {
        padding: 20px 0;
        margin-top: 50px;
    }
    .footersocial {
        margin-top: 15px;
    }
    .modal {
        width: 95%;
    }
    .modal-image {
        height: 250px;
    }
    .modal .modal-image img {
        height: 250px;
    }
    .modal .modal-content {
        padding: 20px 20px;
    }
    .nav.flex {
        flex-direction: row;
    }
    body.darkmode .featureitem {
        background: #18191f;
    }
    body.darkmode .featuresinner {
        background: transparent;
    }

    .Abtn{
        color: #0acf83;
    }

    .Abtn:hover{
        color: red;
    }
}

@media (max-width:425px) {
    .container {
        width: 90%;
    }

    .servicesblock {
        margin-right: 9px;
    }

    .projectsinner .projectitem {
        width: 98%;
        margin-right: 10px;
    }

    .Abtn{
        color: #0acf83;
    }

    .Abtn:hover{
        color: red;
    }

}


@media (max-width:375px) {
    .container{
        width: 89%;
    }

    .servicesblock{
        margin-right: 64px;
    }

    .projectsinner .projectitem {
        width: 83%;
    }

    .Abtn{
        color: #0acf83;
    }

    .Abtn:hover{
        color: red;
    }
}

@media (max-width: 320px) {
    .servicesblock{
        margin-right: 109px;
    }

    .projectsinner .projectitem {
        width: 70%;
    }

    .Abtn{
        color: #0acf83;
    }

    .Abtn:hover{
        color: red;
    }
}







